//水色
$color1:#38aef0;
//テキストの色
$color2:#434a54;

.flash-box {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}
.notice {
  background-color: $color1;
}

.side-bar {
  width: 300px;
  color: white;
  float: left;
  overflow: scroll;
  a {
    color: white;
  }
  .header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    &__name {
      display: inline-block;
      font-size: 1rem;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: white;
        font-size: 1rem;
      }
    }
  }

  .groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px;
    .group {
      box-sizing: border-box;
      &__name {
        font-size: 15px;
        padding-bottom: 5px;
        color: #fff;
      }
      &__message {
        padding: 0 0px 40px 0px;
        font-size: 11px;
        color: #fff;
      }
    }
  }
}


.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    &__left-box {
      margin-top: 35px;
      &__current-group {
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }
      &__member-list {
        display: flex;
        font-size: 12px;
        color: #999999;
        li + li {
          margin-left: 0.3rem;
        }
      }
    }
    a {
      color: $color1;
      &:visited, &:hover, &:active {
        color: $color1;
      }
    }
    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $color1;
      position: absolute;
      right: 40px;
    }
  }


  .messages {
    height: calc(100vh - 190px);
    padding: 40px 40px 0;
    background-color: #fafafa;
    overflow: scroll;
    .message {
      .upper-message {
        display: flex;
        margin-bottom: 10px;
        &__user-name {
          color: $color2;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: $black;
          font-size: 14px;
          margin-bottom: 40px;
        }
        &__image {
          max-width: 200px;
          max-height: 200px;
        }
      }
    }
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}

* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
a {
  text-decoration: none;
}
